header {
    background-color: #BBBBBB;
    padding: 20px 0; 

}

.caixa {
    /* Centralizando a imagem e o nav um ao lado do outro, dentro do cabeçalho */
    position: relative;
    width: 940px;
    margin: 0 auto; /*Usando a margin para calcular automaticamente a largura que resta entre os itens (img e nav)*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    /* top right bottom left */
    margin-left: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Transformando o texto em maiusculo, essa é a forma correta de estilizar o tamanho da letra no HTML*/
    color: black; 
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /*Nenhuma decoração no texto, retira o sublinhado do link*/
}