#banner {
    width: 100%; /* Ocupando 100% da largura da pagina */
}

.principal {
    background-color: #CCCCCC;

}

h1 {
    text-align: center;
    height: 140px;
    border: 10px solid black;

    /* padding - Espaçamento interno*/
    padding: 20px ; 

    /* margin - Espaçamento externo */
    margin: 40px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px; 
    text-align: center;
}

/* Nessa escrita, o css vai buscar apenas os conteudos que estão nessa ordem, dentro de "em", e em seguida "strong", por exemplo. */
em strong {
    color: red;
}

.beneficios {
    background-color: white;
}

h2 {
    text-align: center;
}

.itens {
    font-style: italic;

}

