/* Cabeçalho */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* Quando os elementos não possuem mais espaços para ficar um ao lado do outro, ocorre uma quebra para a proxima linha. */
    flex-wrap: wrap; 
    column-gap: 33px; /* Aplica uma lacuna vertical entre elementos*/
}

/* Categorias */
.categorias__lista {
    display: flex;
    flex-direction: column; /* Os elementos ficam um encima do outro */
    row-gap: .5rem; /* Espaçamento entre os elementos*/
}

/* Destaques */
.destaques {
    display: flex;
    align-items: center; /* Alinha os elementos ao centro */
    gap: 10px; /* Espaçamento é aplicado tanto em linhas, quanto em colunas*/ 
}

.destaques__barra {
    flex-grow: 1; /* Torna a barra de destaque responsiva, crescendo de acordo com o tamanho da tela */
    /* Obs: valores de gap, border e, padding podem influenciar no comportamento do flex-grow. */
}

/* Eventos */
.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px; /* Torna o crescimento mais correto, proporcional ao tamanho da tela, funcionando juntamente nesse caso com o atributo "flex-grow" */
}

.agenda_lista {
    display: flex; /* Organiza os elementos em uma linha */
    flex-wrap: wrap; /* Faz os elementos passarem para uma proxima linha se necessario */
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
}

.agenda_item {
    flex-grow: 1;
}

/* Rodape */
.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adiciona espaçamentos entre os elementos */
}

.rodape__logo {
    align-self: end; /* Alinha a logo ao final da linha */
    /* align-self: flex-start; */ /* Aplica alinhamento ao topo */
}



@media (min-width: 720px) {
    /* Estilos para telas de tablets */
    /* Cabeçalho */
    .menu {
        column-gap: 75px;
    }

    /* Categorias */
    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem; /* Espaçamento entre as colunas */
        row-gap: 1rem;
    }

    .eventos__lista {
        justify-content: end; /* Alinha ao lado direito da linha, que corresponde ao fim da linha */
    }
}


@media (min-width: 1440px) {
    /* Cabeçalho */
    .menu {
        column-gap: 105px;
        flex-wrap: nowrap; /* Evita a quebra de linha do elemento */
    }
    /* Aplica estilo ao elemento que contem a classe "menu_item" */
    /* nth-child(posicao_item)*/
    .menu__item:nth-child(1) {
        order: 1; /* A posição do elemento dentro da lista dos itens */
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }

}


