header {
    background-color: #BBBBBB;
    padding: 20px 0; 

}

.caixa {
    /* Centralizando a imagem e o nav um ao lado do outro, dentro do cabeçalho */
    position: relative;
    width: 940px;
    margin: 0 auto; /*Usando a margin para calcular automaticamente a largura que resta entre os itens (img e nav)*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    /* top right bottom left */
    margin-left: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Transformando o texto em maiusculo, essa é a forma correta de estilizar o tamanho da letra no HTML*/
    color: black; 
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /*Nenhuma decoração no texto, retira o sublinhado do link*/
}

/* "hover" -> Comportamento do elemento quando o mouse estiver no mesmo */
nav a:hover {
    color: darkcyan;
    /* O elemento fica sublinhado  */
    text-decoration: underline; 
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    /* Com a ocupação total sendo 100%, cada "li" vai ocupar 30% desse total */
    width: 30%;
    vertical-align: top;
    /* background-color: #CCCCCC; */
    /* cima e baixo | esquerda e direita */
    margin: 0 1.5%;
    padding: 30px 20px;
    /* O espaçamento lateral de 20px, esteja dentro do percentual (30% nesse caso)*/
    box-sizing: border-box;
    /* Configuração inicial para montar a borda. A borda fica entre o padding e a margin*/
    border: 2px solid black;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    border-radius: 10px;
}

.produtos li:hover {
    border-color: rgb(226, 186, 43);
}

.produtos li:hover h2 {
    font-size: 35px;    

}

/* Configuração quando o mouse interagir (clique) com o elemento */
.produtos li:active {
    border-color: #088c19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display: block; /*Conteudo ao lado, quebra para baixo*/
    font-size: 20px;
    margin: 0 0 10px; /*Adiciona um espaçamento externo abaixo do conteudo */
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

footer {
    margin-top: 30px;
    text-align: center;
    /* Coloca uma imagem de fundo */
    background: url("/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

