/* Forças !Os numeros são ficticios, é apenas para entendimento.
Estilo Inline -> Estilo chamado diretamente na tag no HTML -> Força: 1000
id -> Identificador -> Força: 100
class -> A classe da tag -> Força: 10
tag -> A propria tag, exemplo "p" -> Força: 1

*/
body {
    font-family: "Montserrat", sans-serif; /* Fonte do google fonts*/
}

header {
    background-color: #BBBBBB;
    padding: 20px 0; 

}

.titulo-principal {
    text-align: center;
    font-size: 2em; /* em -> Utilizado para trabalhar com tamanho proporcional, nesse caso o tamanho da fonte desse elemento vai ser 2x maior que o tamanho base */
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    background-color: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.banner {
    width: 100%;
}


.caixa {
    /* Centralizando a imagem e o nav um ao lado do outro, dentro do cabeçalho */
    position: relative;
    width: 940px;
    margin: 0 auto; /*Usando a margin para calcular automaticamente a largura que resta entre os itens (img e nav)*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    /* top right bottom left */
    margin-left: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Transformando o texto em maiusculo, essa é a forma correta de estilizar o tamanho da letra no HTML*/
    color: black; 
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /*Nenhuma decoração no texto, retira o sublinhado do link*/
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    /* Com a ocupação total sendo 100%, cada "li" vai ocupar 30% desse total */
    width: 30%;
    vertical-align: top;
    /* background-color: #CCCCCC; */
    /* cima e baixo | esquerda e direita */
    margin: 0 1.5%;
    padding: 30px 20px;
    /* O espaçamento lateral de 20px, esteja dentro do percentual (30% nesse caso)*/
    box-sizing: border-box;
    /* Configuração inicial para montar a borda. A borda fica entre o padding e a margin*/
    border: 2px solid black;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    border-radius: 10px;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}


form {
    margin: 40px 0;
}

.video {
    width: 560px;
    margin: 2em auto;
}

form label, form legend {
    display: block; /*Conteudo ao lado, quebra para baixo*/
    font-size: 20px;
    margin: 0 0 10px; /*Adiciona um espaçamento externo abaixo do conteudo */
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* Adiciona um transição, delay Xsegundos, não acontecendo mais de forma instantanea.*/
    /* Propriedade "all" -> Aplica o delay para todos os elementos CSS, exemplo vai demorar Xs para ocorrer o aumento de X% que foi aplicado em "nome:hover" acontecer. */

    cursor: pointer; /* O cursor do mouse é alterado, mostrando para o usuario que o elemento é clicavel */
}


table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


.utensilios {
    width: 120px;
    float: left; /* Desloca o elemento, deixando os outros elementos ao redor */
    margin:  0 20px 0 20px;
}

.mapa {
    padding: 3em 0;
    /* Cor gradiante */
    background: linear-gradient(#FEFEFE, #888888);
    /* background: linear-gradient(gray, yellow, red, orange, blue) */
    /* background: radial-gradient(orange 50%, blue); */
    /* background: linear-gradient(90deg, orange, blue); */
}
.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block; 
    vertical-align: top;
}

.itens {
    /* line-height -> Altura da linha do texto */
    line-height: 1.5em;
}

.imagem-beneficios {
    width: 60%;
}

footer {
    margin-top: 30px;
    text-align: center;
    /* Coloca uma imagem de fundo */
    background: url("/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}


/* Estilizando com Pseudo-Elementos */

/* "hover" -> Comportamento do elemento quando o mouse estiver no mesmo */
nav a:hover {
    color: darkcyan;
    /* O elemento fica sublinhado  */
    text-decoration: underline; 
}

.produtos li:hover {
    border-color: rgb(226, 186, 43);
}

.produtos li:hover h2 {
    font-size: 35px;    
}

/* Configuração quando o mouse interagir (clique) com o elemento */
.produtos li:active {
    border-color: #088c19;
}

.enviar:hover { /* Estilo quando o mouse está por cima do botão */
    background-color: darkorange; 
    /* Propriedade "scale()" -> Realiza o aumento de X% do CSS de todos os elementos de estilos correspondente a essa classe*/
    transform: scale(1.2);
    /* transform: rotate(70deg) scale(1.2); Propriedade "rotate(graus)" roda em Xgraus o elemento.*/
    /* As propriedades na mesma linha, faz com que o efeito ocorra ao mesmo tempo.*/
}

/* Estiliza o primeiro item da lista,  */
/* .itens:first-child { 
    font-weight: bold;
} */

/* Adiciona um elemento antes (before) do elemento HTML */
.itens:before {
    content: "★";
}

/* Aplica estilo a primeira letra do titulo */
/* .titulo-principal:first-letter {
    font-weight: bold;
} */

/* 
.titulo-principal:before {
    content: "[ ";

}

/* Adiciona um elemento após (after) o elemento HTML */
/* .titulo-principal:after {
    content: " ]";
}  */


/* Aplica estilo na primeira linha do texto */
/* p::first-line {
    font-style: italic;
} */

/* .itens:last-child -> Estiliza o ultimo item da lista  */
/* Estiliza o nth-child(Nº do elemento na lista)*/ 
/* .itens:nth-child(4){  
    font-weight: bold;
} */

/* Estiliza o nth-child(Nº + n) -> Nesse caso estiliza todos os elementos pares da lista */ 
/* .itens:nth-child(2n){   
    font-weight: bold;
} */